ntupleAnalysis/outputs/
ntupleAnalysis/outputs/*
*/__pycache__
*/*/__pycache__
*/figures*
*.png
*/*.png
*.root
*/*.root
output*
output/*
condor/
*.pdf
*.pkl
trigger.txt
print_file_from_eos_to_json.py
.ipynb_checkpoints/
*.json
